* {
  font-family: "Rubik", sans-serif;
  --swiper-pagination-color: black;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.huge {
  font-size: 50px;
}

.navbar .container-fluid {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.playnow {
  position: absolute;
  right: 10px;
  top: 30px;
}

/* .navbar-collapse.show {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  width: 100vw;
  background: white;
} */

@media (min-width: 768px) {
  .navbar .container-fluid {
    flex-direction: inherit;
    justify-content: space-between;
  }

  .playnow {
    position: inherit;
  }

  /* .navbar-collapse.show {
    position: inherit;
    left: 0px;
    right: 0px;
    top: 100px;
    width: 100vw;
    background: white;
  } */

  .container-fluid {
    padding-left: 8em!important;
    padding-right: 8em!important;
    margin: 0px;
  }

  h1 {
    font-size: 72px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 40px;
  }
  
  h4 {
    font-size: 32px;
  }
  
  h5 {
    font-size: 24px;
  }
  
  h6 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }

  .huge {
    font-size: 70px;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}

#btn-back-to-top i {
  font-size: 25px;
}

.testimonials p {
  font-size: 12px;
}

.testimonials .card-text {
  font-size: 14px;
}

.nav-link {
  font-size: 16px;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.economy .swiper-slide:nth-child(1) .floating {
  animation-delay: 0s;
}

.economy .swiper-slide:nth-child(2) .floating {
  animation-delay: 0.5s;
}

.economy .swiper-slide:nth-child(3) .floating {
  animation-delay: 0s;
}

.economy .swiper-slide:nth-child(4) .floating {
  animation-delay: 0.5s;
}

.economy .swiper-slide:nth-child(5) .floating {
  animation-delay: 0.5s;
}