:root {
  --swiper-pagination-color: black;
}

* {
  font-family: 'Questrial', sans-serif;
  color: #686868;
  line-height: 150% !important;
}

*:focus {
  outline: none;
}

/* Shake keyframes animation */
[data-aos="shake"].aos-animate {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

h1, h2 {
  font-family: "Rubik", sans-serif;
  color: #1D293F;
  font-weight: 500;
}

html {
  overflow-x: hidden !important;
}

html.navbar-open {
  overflow: hidden !important;
}

body {
  padding: 0px !important;
}

main {
  overflow-x: hidden;
}

header .nav-link {
  color: #302F2F !important;
}

footer {
  background: #171B29;
}

footer .nav-link {
  color: white;
  opacity: 0.9;
}

.loggedIn.d-none {
  display: none !important;
}

.navbar {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.19);
}

.nav-item {
  display: flex;
}

.nav-item a:hover {
  background: #8BF99C;
  color: #171B29;
}

.navbar-toggler {
  min-width: 30px;
}

.navbar-toggler .menu {
  display: none;
}

.navbar-toggler .close {
  display: block;
}

.navbar-toggler.collapsed .menu {
  display: block;
}

.navbar-toggler.collapsed .close {
  display: none;
}

.rellax {
  transform: rotate(45deg);
  top: 0px;
  position: absolute;
  width: 25px;
  height: 25px; 
  z-index: -1;
  opacity: 0.8;
}

.btn-check:focus+.btn, .btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-mobile .dropdown-menu {
  border: 0px;
  transform: none !important;
  position: inherit !important;
  margin-left: 3rem !important;
}

.navbar-mobile .dropdown-menu li {
  list-style: disc;
}

header .dropdown-menu {
  border-radius: 20px;
  margin-left: 0px!important;
  margin-top: 2rem !important;
}

.navbar-mobile .navbar-nav {
  overflow-y: scroll;
  max-height: calc(100% - 325px);
}

.touch-flex-cell {
  background: #F4F4F4 !important;
  box-shadow: inset 0px 4px 6px rgb(0 0 0 / 18%) !important;
  border-radius: 12px !important;
  margin: 2px;
}

.btn-dark {
  background-color: #212529;
  border-color: #212529;
}

.bg-yellow {
  background: #FFDA3A;
}

.touch-flex {
  min-height: 40px !important;
  z-index: -1 !important;
}

.link-primary {
  color: #03C5FB;
  font-size: 16px;
}

.statistics:before {
  content: "";
  background: #F5F5F5;
  position: absolute;
  display: block;
  width: 200%;
  height: 100%;
  bottom: 0px;
  z-index: -1;
  margin: auto;
  left: -50%;
}

.players {
  background: #FFDA3A; border-bottom-left-radius: 50px; border-top-right-radius: 50px; top: 1.5rem;
}

.testimonials .swiper-button-prev, .testimonials .swiper-button-next {
  opacity: 0.3;
}

.testimonials:hover .swiper-button-prev, .testimonials:hover .swiper-button-next {
  opacity: 1;
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }
}

button:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 18px;
}

.news .card-title {
  font-size: 16px;
}

.huge {
  font-size: 50px;
}

footer .huge {
  font-size: 32px;
}

.hero-banner:after {
  content: '';
  background: #FFDA3A;
  position: absolute;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.news {
  overflow: visible;
}

.news img {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  border-radius: 24px;
}

.container-fluid {
  margin: 0px;
}

.trade {
  background: url('assets/rectangle.png');
  background-size: 150% 100%;
  margin-top: -200px;
}

.cryptoworld .card-body {
  border-top-left-radius: 50px !important;
  border-radius: 20px; filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.cbxtokens .card-body {
  border-bottom-right-radius: 50px !important;
  background: #171B29; border-radius: 20px; filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.cbxtokens a {
  background: #8BF99C; width: fit-content; width: -moz-fit-content;
}

.cryptoworld .asset {
  position: absolute; right: -3rem; top: 0px; margin-top: -5rem;
}

.cbxtokens .asset {
  position: absolute; right: -3rem; top: 0px; margin-top: 3rem;
}

.arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -30px;
  top: 50%;
  z-index: 1;
  transform: translate(0, 50%);
}

.download img {
  width: 100%;
}

.healer {
  right: -50px;
  position: absolute;
  top: 100px;
  z-index: -1;
}

.hello {
  right: 10px;
  position: absolute;
  top: 100px;
  z-index: -1;
}

.swiper-button-prev, .swiper-button-next {
  top: 55px;
}

@media (min-width: 768px) {
  #navbar {
    display: none !important;
  }

  .mt-md-n3 {
    margin-top: -1.5rem !important;
  }

  .news {
    overflow: hidden;
  }

  .economy {
    overflow: hidden !important;
  }

  .economy .swiper-slide-prev {
    margin-left: 4%;
  }

  .economy .card {
    min-height: 250px !important;
  }

  .cryptoworld, .cbxtokens {
    right: 0px;
    top: 0px;
    margin-top: -5rem;
  }

  .cbxtokens .asset {
    margin-top: -5rem;
  }

  .download img {
    width: 50%;
  }

  .navbar > div {
    flex-direction: inherit;
    justify-content: space-between;
  }

  .statistics .row {
    margin-top: -5rem;
  }

  .statistics:before {
    content: "";
    background: #F5F5F5;
    position: absolute;
    width: calc(100% + 100px);
    height: 100%;
    top: auto;
    left: -100px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }

  .players {
    background: #FFDA3A; border-bottom-left-radius: 50px; border-top-right-radius: 50px; top: -50px;
  }

  .testimonials .swiper-button-prev, .testimonials .swiper-button-next {
    top: 50%!important;
  }

  .healer {
    position: initial;
  }

  .hello {
    position: initial;
  }

  h1 {
    font-size: 72px;
  }
  
  h2 {
    font-size: 52px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  h4 {
    font-size: 32px;
  }
  
  h5 {
    font-size: 22px;
  }
  
  h6 {
    font-size: 20px;
  }
  
  p {
    font-size: 16px;
  }

  .news .card-title {
    font-size: 18px;
  }

  .huge {
    font-size: 70px;
    font-family: "Rubik", sans-serif;
  }

  footer .huge {
    font-size: 80px;
    line-height: 1 !important;
  }

  .container-fluid {
    padding-left: 5em!important;
    padding-right: 5em!important;
    margin: 0px;
  }

  .trade {
    background: url('assets/rectangle.png');
    background-size: 100% 100%;
    margin-top: -250px;
  }

  .pincode-input-container input {
    background: #F4F4F4 !important;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.18) !important;
    border-radius: 12px !important;
    margin: 10px;
    width: 50px !important;
    height: 50px;
  }

  .collapse {
    display: block !important;
    height: auto !important;
    visibility: visible;
  }
  .collapsing{
    position: relative;
    height: unset !important;
    overflow: hidden;
  }
  .accordion-item i {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    padding-left: 12em!important;
    padding-right: 12em!important;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}

#btn-back-to-top i {
  font-size: 25px;
}

.testimonials img {
  width: 100px;
}

.testimonials .card-text {
  font-size: 18px;
  color: #666666;
}

.testimonials .person {
  font-size: 16px;
  color: #1D1D1D;
}

.testimonials .role {
  font-size: 14px;
  color: #4F4F4F;
}

.nav-link {
  font-size: 16px;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.economy {
  overflow: visible;
}

.economy .swiper-slide .arrow:first-child {
  left: -20px; right: auto;
}

.economy .swiper-slide {
  padding-top: 80px;
  padding-bottom: 10px;
}

.economy .swiper-slide:nth-child(1) .floating {
  animation-delay: 0s;
}

.economy .swiper-slide:nth-child(2) .floating {
  animation-delay: 0.5s;
}

.economy .swiper-slide:nth-child(3) .floating {
  animation-delay: 0s;
}

.economy .swiper-slide:nth-child(4) .floating {
  animation-delay: 0.5s;
}

.economy .swiper-slide:nth-child(5) .floating {
  animation-delay: 0.5s;
}

.text-dark {
  color: #171B29;
}

.text-black {
  color: black;
}

.text-alternate {
  color: #1D293F;
}

.collapsed i {
  transform: rotate(180deg);
}

.economy img:not(.arrow) {
  margin-top: -80px;
  width: 200px;
  max-width: 100%;
}

.economy .card {
  background: #FFDA3A;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTciIHZpZXdCb3g9IjAgMCA1NiA1NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iMC4wODc4OTA2IiB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHJ4PSIyOCIgZmlsbD0iIzE3MUIyOSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTM2IDI3LjA4NzlIMjMuODNMMjkuNDIgMjEuNDk3OUwyOCAyMC4wODc5TDIwIDI4LjA4NzlMMjggMzYuMDg3OUwyOS40MSAzNC42Nzc5TDIzLjgzIDI5LjA4NzlIMzZWMjcuMDg3OVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=") !important;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTciIHZpZXdCb3g9IjAgMCA1NiA1NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iMC4wODc4OTA2IiB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHJ4PSIyOCIgZmlsbD0iIzE3MUIyOSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI4IDIwLjA4NzlMMjYuNTkgMjEuNDk3OUwzMi4xNyAyNy4wODc5SDIwVjI5LjA4NzlIMzIuMTdMMjYuNTkgMzQuNjc3OUwyOCAzNi4wODc5TDM2IDI4LjA4NzlMMjggMjAuMDg3OVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=") !important;
}

.form-check-input:checked {
  background-color: #FFDA3A;
  border-color: #FFDA3A;
}

.play-icon {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.play-icon:hover {
  opacity: 1;
}